@use "../../styles//colors";

$maxWidth: 20vmax;
$maxHeight: 12rem;

.card {
  background-color: var(--background-defualt);
  border-radius: 1rem;
  display: flex;
  width: $maxWidth;
  min-width: 20rem;
  height: 18rem;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  transition: 500ms;
  position: relative;
  z-index: 0;
  border: 1px solid var(--background-defualt);
  .thumbnail {
    height: $maxHeight;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .body {
    padding: 0.8rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    .title {
      p {
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
    
  }
  .list {
    transition:  .2s;
    transform-origin: bottom right;
    background: var(--background-defualt);
    border: 1px solid var(--border-strong);
    position: absolute;
    bottom: 40px;
    transform: translateY(200px);
    right: 15px;
    overflow: hidden;
    border-radius: 8px;
    .option {
      a {
        padding: 0.6rem 1rem;
        display: flex;
        text-decoration: none;
        gap: 10px;
        justify-content: space-between;
        font-size: 1rem;
      }
      &:hover {
        background: var(--background-surface-layer-03);
      }
    }
  }

  .options:hover {
    .list {
      transform: translateY(0px);
    }
  }
  &:is(:hover, :focus) {
    scale: 1.08;
    border: 1px solid var(--text-primary);
    background-color: var(--background-surface-layer-01);
    z-index: 1;
  }
}

@media (max-width: 768px) {
  // .card{
  //   scale: .8;
  // }
}