@use "../../styles/colors";

.card {
  background-color: var(--background-defualt);
  padding: 1.6rem 0;
  border-radius: 1rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid var(--border-strong);
  gap: 1.2rem;
  &:hover {
    border: 1px solid var(--text-primary);
    background-color: var(--background-surface-layer-01);
  }
  img {
    height: 2.6rem;
    object-fit: cover;
  }
  p {
    font-size: 1.2rem;
    font-weight: 600;
  }
}


@media (max-width: 768px) {
    .card{
      width: 10rem;
    }
}