@use './colors';

.main {
  height: 100dvh;
  background: var(--page-weak);
  overflow-x: hidden;
  // &::after{
  //   content: '';
  //   height: 80rem;
  //   width: 10rem;
  //   position: absolute;
  //   top: -30rem;
  //   filter: blur(50px);
  //   left: 20%;
  //   z-index: -1;
  //   // background:var(--text-primary);
  //   background: rgba($color: rgba(0,0,18,.2), $alpha: 0.2);
  //   transform: rotate(-50deg);
  // }

}

